.footerFiv {
  margin-top: 2%;
  height: 30px;
  width: 100%;
  background-color: #84c225;
  position: fixed;
    bottom: 0;
}
.footertxt {
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: Trebuchet MS, sans-serif;
  
}
